# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE and Editor configurations
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environment Variables and Credentials
.env
*.env
secrets.json

# Logs
*.log

# Local exported charts
Day-6/charts/
Python/Day-6/charts/
